body {
  background: #808080;
  color: #8b0000
}
header {
  background: #808080;
  color: #ffd700;
  padding: 10px 1px 0 10px
}
footer {
  background: #cc6600;
  color: #CCFF00;
  font-family: "Lucida Handwriting", Papyrus, monospace;
}
ul a{
  color: #872A16;
  text-decoration: none;
}
li{
  display: inline-block;
  height: 22px;
  width: 100px;
  padding: 12px;
  text-align: center;
  color: white;
  border-left: 2px;
  border-right: 1px;
  background-color: #cc6600;
}
li:hover{
  background-color: lightblue;
  border-style:groove;
}
table{
  background-color: lightgreen;
  border-color: brown;
  border:5px solid;
}
td:hover{
  background-color: coral;
}
td{
  border: 2px solid;
}
a{
  color:inherit;
  text-decoration: none;
}
input[type="text"], input[type="email"], textarea, button{
  display: block;
  margin: 15px 0px;
  border-radius: 4px; box-shadow: inset 2px 2px 5px #8b0000;
}
textarea{
  height: 80px
}
button:active{
  background-color: #8b0000;
  color: white;
  border-radius: 4px; box-shadow: inset 2px 2px 5px black;
}
th{
  text-align: left;
}
